# Grouping

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'groups': ['a', 'b', 'c', 'a', 'b', 'c'],
    'data': [345, 34, 23, 45, 243, 23],
},columns=['groups', 'data'])

In [ ]:
df

  groups  data
0      a   345
1      b    34
2      c    23
3      a    45
4      b   243
5      c    23

In [ ]:
df.groupby("groups")

In [ ]:
df.groupby('groups').sum()

        data
groups
a        390
b        277
c         46

In [ ]:
import seaborn as sns

In [ ]:
df2 = sns.load_dataset('planets')
df2.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [16]:
df2.groupby('method')['orbital_period'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

In [18]:
df2.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [19]:
df2.orbital_period.std()

26014.72830406252

In [21]:
df2.method.unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [23]:
df2.groupby("method").describe().T

method                 Astrometry  Eclipse Timing Variations        Imaging  \
number         count     2.000000                   9.000000      38.000000
               mean      1.000000                   1.666667       1.315789
               std       0.000000                   0.500000       0.933035
               min       1.000000                   1.000000       1.000000
               25%       1.000000                   1.000000       1.000000
               50%       1.000000                   2.000000       1.000000
               75%       1.000000                   2.000000       1.000000
               max       1.000000                   2.000000       4.000000
orbital_period count     2.000000                   9.000000      12.000000
               mean    631.180000                4751.644444  118247.737500
               std     544.217663                2499.130945  213978.177277
               min     246.360000                1916.250000    4639.150000
               25%     438.770000                2900.000000    8343.900000
               50%     631.180000                4343.500000   27500.000000
               75%     823.590000                5767.000000   94250.000000
               max    1016.000000               10220.000000  730000.000000
mass           count     0.000000                   2.000000       0.000000
               mean           NaN                   5.125000            NaN
               std            NaN                   1.308148            NaN
               min            NaN                   4.200000            NaN
               25%            NaN                   4.662500            NaN
               50%            NaN                   5.125000            NaN
               75%            NaN                   5.587500            NaN
               max            NaN                   6.050000            NaN
distance       count     2.000000                   4.000000      32.000000
               mean     17.875000                 315.360000      67.715937
               std       4.094148                 213.203907      53.736817
               min      14.980000                 130.720000       7.690000
               25%      16.427500                 130.720000      22.145000
               50%      17.875000                 315.360000      40.395000
               75%      19.322500                 500.000000     132.697500
               max      20.770000                 500.000000     165.000000
year           count     2.000000                   9.000000      38.000000
               mean   2011.500000                2010.000000    2009.131579
               std       2.121320                   1.414214       2.781901
               min    2010.000000                2008.000000    2004.000000
               25%    2010.750000                2009.000000    2008.000000
               50%    2011.500000                2010.000000    2009.000000
               75%    2012.250000                2011.000000    2011.000000
               max    2013.000000                2012.000000    2013.000000

method                Microlensing  Orbital Brightness Modulation  \
number         count     23.000000                       3.000000
               mean       1.173913                       1.666667
               std        0.387553                       0.577350
               min        1.000000                       1.000000
               25%        1.000000                       1.500000
               50%        1.000000                       2.000000
               75%        1.000000                       2.000000
               max        2.000000                       2.000000
orbital_period count      7.000000                       3.000000
               mean    3153.571429                       0.709307
               std     1113.166333                       0.725493
               min     1825.000000                       0.240104
               25%     2375.000000                       0.291496
               50%     3300.000000                       0.342887
               75%     3550.000000                       0.943908
               max     5100.000000                       1.544929
mass           count      0.000000                       0.000000
               mean            NaN                            NaN
               std             NaN                            NaN
               min             NaN                            NaN
               25%             NaN                            NaN
               50%             NaN                            NaN
               75%             NaN                            NaN
               max             NaN                            NaN
distance       count     10.000000                       2.000000
               mean    4144.000000                    1180.000000
               std     2076.611556                       0.000000
               min     1760.000000                    1180.000000
               25%     2627.500000                    1180.000000
               50%     3840.000000                    1180.000000
               75%     4747.500000                    1180.000000
               max     7720.000000                    1180.000000
year           count     23.000000                       3.000000
               mean    2009.782609                    2011.666667
               std        2.859697                       1.154701
               min     2004.000000                    2011.000000
               25%     2008.000000                    2011.000000
               50%     2010.000000                    2011.000000
               75%     2012.000000                    2012.000000
               max     2013.000000                    2013.000000

method                Pulsar Timing  Pulsation Timing Variations  \
number         count       5.000000                          1.0
               mean        2.200000                          1.0
               std         1.095445                          NaN
               min         1.000000                          1.0
               25%         1.000000                          1.0
               50%         3.000000                          1.0
               75%         3.000000                          1.0
               max         3.000000                          1.0
orbital_period count       5.000000                          1.0
               mean     7343.021201                       1170.0
               std     16313.265573                          NaN
               min         0.090706                       1170.0
               25%        25.262000                       1170.0
               50%        66.541900                       1170.0
               75%        98.211400                       1170.0
               max     36525.000000                       1170.0
mass           count       0.000000                          0.0
               mean             NaN                          NaN
               std              NaN                          NaN
               min              NaN                          NaN
               25%              NaN                          NaN
               50%              NaN                          NaN
               75%              NaN                          NaN
               max              NaN                          NaN
distance       count       1.000000                          0.0
               mean     1200.000000                          NaN
               std              NaN                          NaN
               min      1200.000000                          NaN
               25%      1200.000000                          NaN
               50%      1200.000000                          NaN
               75%      1200.000000                          NaN
               max      1200.000000                          NaN
year           count       5.000000                          1.0
               mean     1998.400000                       2007.0
               std         8.384510                          NaN
               min      1992.000000                       2007.0
               25%      1992.000000                       2007.0
               50%      1994.000000                       2007.0
               75%      2003.000000                       2007.0
               max      2011.000000                       2007.0

method                Radial Velocity      Transit  Transit Timing Variations
number         count       553.000000   397.000000                   4.000000
               mean          1.721519     1.954660                   2.250000
               std           1.157141     1.399119                   0.500000
               min           1.000000     1.000000                   2.000000
               25%           1.000000     1.000000                   2.000000
               50%           1.000000     1.000000                   2.000000
               75%           2.000000     2.000000                   2.250000
               max           6.000000     7.000000                   3.000000
orbital_period count       553.000000   397.000000                   3.000000
               mean        823.354680    21.102073                  79.783500
               std        1454.926210    46.185893                  71.599884
               min           0.736540     0.355000                  22.339500
               25%          38.021000     3.160630                  39.675250
               50%         360.200000     5.714932                  57.011000
               75%         982.000000    16.145700                 108.505500
               max       17337.500000   331.600590                 160.000000
mass           count       510.000000     1.000000                   0.000000
               mean          2.630699     1.470000                        NaN
               std           3.825883          NaN                        NaN
               min           0.003600     1.470000                        NaN
               25%           0.225250     1.470000                        NaN
               50%           1.260000     1.470000                        NaN
               75%           3.000000     1.470000                        NaN
               max          25.000000     1.470000                        NaN
distance       count       530.000000   224.000000                   3.000000
               mean         51.600208   599.298080                1104.333333
               std          45.559381   913.876990                 915.819487
               min           1.350000    38.000000                 339.000000
               25%          24.412500   200.000000                 597.000000
               50%          40.445000   341.000000                 855.000000
               75%          59.217500   650.000000                1487.000000
               max         354.000000  8500.000000                2119.000000
year           count       553.000000   397.000000                   4.000000
               mean       2007.518987  2011.236776                2012.500000
               std           4.249052     2.077867                   1.290994
               min        1989.000000  2002.000000                2011.000000
               25%        2005.000000  2010.000000                2011.750000
               50%        2009.000000  2012.000000                2012.500000
               75%        2011.000000  2013.000000                2013.250000
               max        2014.000000  2014.000000                2014.000000